<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="patch" th:action="@{/book/{id}(id = ${kitob.getBookId()})}" th:object="${kitob}">
    <label for="name">Name</label>
    <input name="name" type="text" th:field="*{bookName}" id="name">
    <br>
    <label for="bookAuthor">Author</label>
    <input name="bookAuthor" type="text" th:field="*{bookAuthor}" id="bookAuthor">
    <br>
    <label for="date">Date</label>
    <input name="date" type="text" th:field="*{date}" id="date">
    <input type="submit" value="Edit book">

    </form>
</body>
</html>